* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  //margin: 0;

  &.night-mode {
    background-color: #242F3E;
  }
}

#switch-mode {
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  color: #108be3;
  font-size: 20px;
}

#container {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

chart {
  width: calc(50% - 10px);
  height: 50vh;
  padding: 10px;
  position: relative;

  > canvas {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 90px - 40px);

    &.x-axis, &.y-axis {
      z-index: 1;
    }

    &.plot {
      z-index: 2;
    }

    &.info {
      z-index: 3;
    }
  }

  zoom {
    width: calc(100% - 20px);
    height: 57px;
    bottom: calc(10px + 40px);
    position: absolute;

    canvas {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    zoom-carriage {
      width: 123px;
      height: 100%;
      position: absolute;
      border-top: 1.5px solid #e0eaf0;
      border-bottom: 1.5px solid #e0eaf0;
      bottom: 0;
      right: 0;
      cursor: move;

      .left-stretch {
        width: 6px;
        height: calc(100% + 3px);
        position: absolute;
        top: -1.5px;
        left: -6px;
        background-color: #e0eaf0;
        cursor: w-resize;
      }

      .right-stretch {
        width: 6px;
        height: calc(100% + 3px);
        position: absolute;
        top: -1.5px;
        right: -6px;
        background-color: #e0eaf0;
        cursor: e-resize;
      }
    }
  }

  points-info {
    padding: 5px 10px;
    position: absolute;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    z-index: 9999;
    font-family: "Helvetica Neue", serif;
    text-align: center;

    .title {
      font-size: .9em;
      font-weight: 500;
    }

    .values {
      margin-top: 5px;

      .value {
        display: inline-block;
        margin-left: 10px;
        font-weight: 500;

        &:first-child {
          margin-left: auto;
        }
      }
    }
  }

  ul.legend {
    margin: 0;
    padding: 0;
    bottom: 0;
    border-collapse: separate;
    border-spacing: 5px;
    position: absolute;

    li {
      height: 40px;
      padding: 5px 10px;
      margin-left: 20px;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      border-radius: 20px;
      border: 1px solid;
      cursor: pointer;

      &:first-child {
        margin-left: auto;
      }

      .state {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        border: 2px solid;
        float: left;
        mask-image: url("check-circle-solid.svg");
        -webkit-mask-image: url("check-circle-solid.svg");
      }

      .name {
        float: right;
        margin-left: 10px;
        line-height: 28px;
      }
    }
  }
}

@media all and (max-width: 850px) {
  .chart {
    width: calc(100% - 10px);
  }
}
